Source: silverpeas
Section: web
Priority: optional
Maintainer: Silverpeas Development Team <silverpeas-dev@googlegroups.com>
Homepage: http://www.silverpeas.org/

Package: silverpeas
Architecture: all
Depends: java6-runtime, sudo, silverpeas-datasource, imagemagick, ghostscript, openoffice.org | libreoffice
Recommends: swftools (>= 0.9.1)
Suggests: java6-runtime-headless
Description: Silverpeas is an open source web portal providing useful tools and
 applications to facilitate the collaboration between teams and individuals
 within an organization or an association. It features:
 * Document Management
 * Collaborative Management
 * Knowledge Management
 * Content Management
 * Social Network
 * Gallery
 * Connectors to data sources
 * and many other built-in applications
