Source: silverpeas
Section: devel
Priority: extra
Maintainer: Silverpeas Development Team <silverpeas-dev@googlegroups.com>
Homepage: http://www.silverpeas.org/

Package: silverpeas
Architecture: all
Depends: java2-runtime, adduser, sudo, postgresql
Suggests: default-jre-headless
Description: Open platform to create a collaborative web site.
